/* Setting different variables for light and dark mode */
:root {
    --bg-gradient: linear-gradient(135deg, #ffffff, #f0f0f0);
    --text-color: #383838;
    --border-style: .1rem solid color-mix(in srgb, var(--text-color) 8%, transparent);
    --box-shadow: color-mix(in srgb, var(--text-color) 8%, transparent) 0px 20px 25px -5px, color-mix(in srgb, var(--text-color) 2%, transparent) 0px 10px 10px -5px;
}
[data-theme="dark"] {
    --bg-gradient: linear-gradient(135deg, #1e0036, #000428);
    --text-color: #e0e0e0;
}
html, body {
    font-family:'Roboto','Hiragino Sans','Meiryo','Hiragino Kaku Gothic ProN',sans-serif;
    margin: 0;
    height: 100vh;
}
body {
    background: var(--bg-gradient);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 40rem;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .4rem;
}
header .gakuscan-logo {
    font-size: 6rem;
    line-height: 4rem;
    margin-right: 2rem;
}
#gakuscan-capture {
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}
#gs-apikey-hint {
    margin: auto;
}
.gs-hidden {
    display: none;
}
#gakuscan-log {
    max-width: 30rem;
    padding: .5rem;
    flex-basis: 30%;
    overflow-y: scroll;
}


.gakuscan-entry-img > img {
    max-height: 20rem;
    max-width: 100%;
}

/* Highlight colors for different grammatical structures */
.gs-noun {
    --highlight-color: #007ACC;
}
.gs-pronoun {
    --highlight-color: #1E90FF;
}
.gs-verb {
    --highlight-color: #FF4500;
}
.gs-adjective {
    --highlight-color: #FFA500;
}
.gs-adnominal-adjective {
    --highlight-color: #7CFC00;
}
.gs-particle {
    --highlight-color: #228B22;
}
.gs-adverb {
    --highlight-color: #FFD700;
}
.gs-auxiliary-verb {
    --highlight-color: #800080;
}
.gs-conjunction {
    --highlight-color: #40E0D0;
}
.gs-interjection {
    --highlight-color: #FF69B4;
}
.gs-filler,
.gs-sign {
    --highlight-color: #B0BEC5;
}
/* Rules for applying highlight colors to tokens and annotations */
[data-highlight] p.gakuscan-entry-text .gs-analized {
    background: color-mix(in srgb, var(--highlight-color, transparent) 50%, transparent);
    border: .2rem solid color-mix(in srgb, var(--highlight-color, transparent) 20%, transparent);
    background-clip: content-box;
}
p.gakuscan-entry-text .gs-analized:hover, 
p.gakuscan-entry-text .gs-analized.gs-highlight {
    text-decoration: underline;
}
.gakuscan-entry-img div.gakuscan-entry-anno {
    background: color-mix(in srgb, var(--highlight-color, transparent) 30%, transparent);
    position: absolute;
}
.gakuscan-entry-img div.gakuscan-entry-anno:hover, 
.gakuscan-entry-img div.gakuscan-entry-anno.gs-highlight {
    border: .2rem solid color-mix(in srgb, var(--highlight-color, transparent) 80%, transparent);
}


@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
    #gakuscan-log {
        max-width: none;
        flex-basis: 45%;
    }
}